@import url("/src/css/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.btn_primary {
    @apply py-2.5 px-4 bg-orange-400 text-white rounded text-base font-medium;
  }
.btn_secondary {
    @apply py-2.5 px-4 border border-orange-400  text-orange-400 rounded text-base font-medium;
  }